
input {
    width: 100%;
    margin: auto;
    padding: 0px 10px;
}

.divFormSearch{
    padding: 5px 0px 10px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.divForDescription h6{
    padding-top: 5px;
    margin: 0px;
}

.forErrorBorder {
    border: 2px solid red;
}

.forErrorDescription {
    color: red;
}