.button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    width: 150px;
}
.button.contained {
    color: black;
    background-color: rgba(133, 133, 133, 0.76);
    border: black 2px solid;
    font-weight: 600;
}
.button.outlined {
    color: rgb(80, 80, 80);
    background-color: white;
    border: rgba(133, 133, 133, 0.76) 2px solid;
    font-weight: 600;
}

.button.small {
    padding: 3px;
    font-size: 10px;
    width: 100px;
  }
  
.button.large {
    padding: 6px;
    font-size: 12px;
  }

.button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

